@import "leaflet/dist/leaflet.css";

/* Tailwind directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional custom colors */
:root {
  --simtrace-light: #f7fafc;
  --simtrace-dark: #1f2937;
  --simtrace-secondary: #6b7280;
  --simtrace-info: #3b82f6;
  --simtrace-success: #10b981;
  --simtrace-accent: #f59e0b;
}
